In [143]:
import pandas as pd

In [144]:
df=pd.read_csv('zomato_pune_V002.csv')
df.head()

             Restaurant_Name  ... spam_review
0  AB's - Absolute Barbecues  ...      1539.0
1      Cafe Co2 Resto Lounge  ...       139.0
2  Paasha - JW Marriott Pune  ...       119.0
3                I Amsterdam  ...         8.0
4             FC Road Social  ...       132.0

[5 rows x 104 columns]

In [145]:
print(df.shape)
print(df.columns)

(12189, 104)
Index(['Restaurant_Name', 'Web_Link', 'Locality', 'Sponsored',
       'Ratings_out_of_5', 'Number of votes', 'Phone_number', 'Cuisines',
       'Charges_for_two', 'payment_modes',
       ...
       'Table booking recommended', 'Resto Bar', 'Serves Alcohol', 'Breakfast',
       'Catering Available', 'Disabled Friendly', 'Serves Halal',
       'Takeaway Only', 'BYOB Only', 'spam_review'],
      dtype='object', length=104)

In [146]:
df.head()

             Restaurant_Name  ... spam_review
0  AB's - Absolute Barbecues  ...      1539.0
1      Cafe Co2 Resto Lounge  ...       139.0
2  Paasha - JW Marriott Pune  ...       119.0
3                I Amsterdam  ...         8.0
4             FC Road Social  ...       132.0

[5 rows x 104 columns]

In [147]:
#detailed address , phone number ,detailed address , 5_star_review_percentage	4_star_review_percentage	3_star_review_percentage	2_star_review_percentage	1_star_review_percentage , spam review
#convert payments to numerical
df.isnull().sum().sum()

0

In [148]:
df=df.drop(['Web_Link' , 'Phone_number','Detail_address','spam_review','5_star_review_percentage','4_star_review_percentage','3_star_review_percentage',	'2_star_review_percentage',	'1_star_review_percentage'], axis=1)
print(df.head())

             Restaurant_Name             Locality  ... Takeaway Only BYOB Only
0  AB's - Absolute Barbecues            Hinjawadi  ...             0         0
1      Cafe Co2 Resto Lounge              Bhugaon  ...             0         0
2  Paasha - JW Marriott Pune  Senapati Bapat Road  ...             0         0
3                I Amsterdam            Hinjawadi  ...             0         0
4             FC Road Social        Shivaji Nagar  ...             0         0

[5 rows x 95 columns]

In [149]:
count=0
for i in df.columns:
  if i=="Wine and Beer":
    break;
  count=count+1


df2 = pd.DataFrame(columns = ['Service_Type', 'No_count', 'Yes_count','%No' , '%Yes'])

                   
for i in (df.columns[count:]):
  ser=df[i].value_counts()
  df2=df2.append({'Service_Type':ser.name, 'No_count': ser[0] , 'Yes_count':ser[1] , '%No': (ser[0]/(ser[0]+ser[1]))*100 , '%Yes': (ser[1]/(ser[0]+ser[1]))*100}, ignore_index=True)

for i in (df2.loc[df2['%No']>90]).index:
  df=df.drop([df2['Service_Type'][i]], axis=1)

In [150]:
print(df.shape)

(12189, 15)

In [151]:
df.head()

             Restaurant_Name             Locality  ... Indoor Seating Breakfast
0  AB's - Absolute Barbecues            Hinjawadi  ...              1         0
1      Cafe Co2 Resto Lounge              Bhugaon  ...              1         0
2  Paasha - JW Marriott Pune  Senapati Bapat Road  ...              0         0
3                I Amsterdam            Hinjawadi  ...              1         0
4             FC Road Social        Shivaji Nagar  ...              1         1

[5 rows x 15 columns]

In [152]:
#mapping values of payment modes from ordinal to digits
pay_modes = df['payment_modes'].unique()
new_val=1
pay_modes_values = pd.DataFrame(columns = ['Mode', 'New_value'])

for i in pay_modes:
  pay_modes_values=pay_modes_values.append({'Mode':i, 'New_value': new_val}, ignore_index=True)
  df['payment_modes']=df['payment_modes'].replace(to_replace=i , value=new_val)
  new_val=new_val+1

In [158]:
#New values of paymode are the following
pay_modes_values

                                                 Mode New_value
0                             Cash and Cards accepted         1
1            Cash,Cards and Digital Payments accepted         2
2                                           Cash only         3
3                  Cash and Digital Payments accepted         4
4                Cash,Cards and Meal Coupons accepted         5
5   Cash,Cards,Meal Coupons and Digital Payments a...         6
6      Cash,Debit Cards and Digital Payments accepted         7
7                       Cash and Debit Cards accepted         8
8                      Cash and Meal Coupons accepted         9
9                                Debit Cards accepted        10
10    Cash,Meal Coupons and Digital Payments accepted        11
11                                         Cards only        12

In [159]:
#data frame after changing the values
df.head()

             Restaurant_Name             Locality  ... Indoor Seating Breakfast
0  AB's - Absolute Barbecues            Hinjawadi  ...              1         0
1      Cafe Co2 Resto Lounge              Bhugaon  ...              1         0
2  Paasha - JW Marriott Pune  Senapati Bapat Road  ...              0         0
3                I Amsterdam            Hinjawadi  ...              1         0
4             FC Road Social        Shivaji Nagar  ...              1         1

[5 rows x 15 columns]